@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
}
header div{
    text-align: center;
}
header div h3{
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 20px;
}
header nav a{
    color: grey;
    font-size: 20px;
}
section{
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
}