@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}
.w-1070{
    width: 1070px;
    margin: 0 auto;
    /*блок завжди по центру при таких параметрах*/
}
header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}
header nav a{
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}
.header_active-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}
header button{
    width: 210px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 68px 0 132px 0;

}
.hero h1{
    width: 439px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
}
.hero p{
    width: 409.426px;
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
}
.hero button{
    width: 188px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 132px 0 150px 0;
}
.subscription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0 84px 0;
}
.subscription h2{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
    width: 556px;
    margin-left: 166px;
}
.subscription p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 459px;
    margin: 30px 0 30px 166px;
}
.subscription a{
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    margin-left: 166px;
}
.metrics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.metrics h2{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
    width: 409px;
}
.metrics p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 409px;
    margin: 30px 0 30px 0;
}
.metrics a{
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
