@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.pictures{
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 64px;
    padding: 20px 0;
    background: #F3F5F6;
    margin: 0 auto;
}
.picture{
    width: 372px;
    text-align: center;
}
.picture img{
    border-radius: 10px;
    width: 100%;
}
.picture h4{
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    padding: 20px 0 15px 0;
}
.picture p{
    color: #3C3C43;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}