@media screen and (min-width: 769px) and (max-width: 1279px) {
    .items {
        width: 720px;
        column-gap: 24px;
        row-gap: 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 48px 24px;
    }
}
