*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #20af95;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.form-register{
    width: 45vw;
    height: 50vh;
    background: white;
    border-radius: 20px;
}
.form-register div:nth-child(1){
    height: 20%;
    background: rgba(32, 175, 149, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-register div:nth-child(1) h2{
    font-size: 26px;
    font-weight: 400;
}
.form-register form{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    flex-direction: column;
}
input[type="text"],
input[type="password"]{
    width: 70%;
    height: 30px;
    border: 1px solid lightgray;
    margin: 10px auto 10px auto;
    padding-left: 0;
}
.form-register>form>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 100px;

}
input[type="submit"]{
    background: rgba(32, 175, 149, 0.25);
    border-radius: 10px;
    width: 80px;
    height: 30px;
}